{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}</p>
  <a href="{% url 'polls:logout' %}">Logout</a>
{% else %}
  <a href="{% url 'polls:login' %}">Login</a>
  <a href="{% url 'polls:signup' %}">Register</a>
{% endif %}

<h1>Welcome to polls app!</h1>

{% if user.is_authenticated %}
    {% if latest_question_list %}
        <table>
            <tr>
                <th>Questions</th>
            </tr>
            {% for question in latest_question_list %}
            <tr>
                <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <a href="{% url 'polls:create' %}" class="button">Create New Poll</a>
{% else %}
    <p>You need to <a href="{% url 'polls:login' %}">log in</a> to see the polls.</p>
{% endif %}


