{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}</p>
  <a href="{% url 'polls:logout' %}">Logout</a>
{% else %}
  <a href="{% url 'polls:login' %}">Login</a>
  <a href="{% url 'polls:signup' %}">Register</a>
{% endif %}

<h1>Welcome to polls app!</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}